/***General***/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,700&family=Josefin+Sans:wght@200&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,700&family=Josefin+Sans:wght@200;400&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Josefin+Sans&family=Secular+One&display=swap');



html {
    scroll-behavior: smooth;
}


body {
    background-color: #333;
    color: white;
}

#introduction h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    text-align: center;
}

#introduction h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    text-align: center;
}


h2 {
    font-size: 35px;
    text-align: center;
    text-decoration: solid underline;
}

body {
    margin: 0px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 16px;
}

/******/

/***Navbar***/
nav {
    /* background-color: ; */
    background-color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav h2 {
    float: left;
    margin: 0px;
    color: white;
    padding: 12px 16px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

nav ul li {
    float: left;
}

nav ul li.left {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* border: darkred 1px solid; */
}

/* Hover button color */
nav ul li a:hover {
    background-color: #111;
}

/* Active link color */
nav ul li a.active {
    background-color: darkred;

}

nav ul li.right {
    float: right;
}

nav ul.right {
    float: right;
}

/* Small screens */
@media screen and (max-width: 600px) {

    nav h2 {
        float: none;
        text-align: center;
    }

    nav ul {
        float: none;
    }

    nav ul li.right,
    nav ul li {
        float: none;
    }
}

/******/

/***About Me ***/
.about-me {
    margin-top: 40px;
}

.about-me-image {
    grid-area: about-me-image;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 8px; */
}

.about-me-image img {
    width: 60%;
    height: auto;
    border-radius: 8px;
}

.about-me-text-container {
    grid-area: about-me-text-container;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    margin-right: 10px;
    padding-right: 20px;
    font-size: 25px;
}

.about-me-container {
    width: 95%;
    display: grid;
    grid-template: 'about-me-image about-me-text-container';
}

/******/

/***Skills***/
.skills {
    text-align: center;
    padding-top: 25px;
    font-size: 25px;
}

.skill-set {
    display: inline-block;
    padding: 50px;
    text-align: center;
    width: 200px;
    height: 200px;
}

/******/

/***Projects***/

details {
    display: inline-block;
    justify-content: space-around;
    background-color: #f2f2f2;
    padding: 5px 5px;
    margin: 10px 10px;
    text-align: left;
    background-color: transparent;
}

.projects {
    text-align: center;

}

.project-title {
    text-align: center;
    display: block;
    position: relative;
    width: 50%;
    height: 40px;
    font-size: 20px;

}

.project {
    position: static;
    width: 20%;
    display: inline-grid;
}

.project-image {
    display: inline-grid;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    /* border-radius: 5%; */
    justify-content: space-evenly;
}


.project-text {
    display: block;
    height: 40px;
    /* text-align: center; */
}

summary {
    display: inline-flexbox
        /* flex-wrap: wrap; */
}

/******/

/***Contacts***/
form {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 50px;
    padding: 50px;
    box-sizing: 0 0 15px 4px;

}

#emailaddress {
    border: 2px solid black;
    border-radius: 4px;
}

#message {
    border: 2px solid black;
    border-radius: 4px;
}

label {
    /* display: inline-block;
    width: 100px;
    flex-wrap: wrap; */
    display: flex;
    align-items: center;
    justify-content: space-between;


}

input {
    /* display: inline-block;
    /* display: inline-block; */
    /* width: 100px;
    flex-wrap: wrap; */
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

/******/

/***Footer***/
footer {
    text-align: center;
    padding-top: 25px;
}

section {}

@media only screen and (max-width: 600px) {}

/******/