@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,700&family=Josefin+Sans:wght@200&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,700&family=Josefin+Sans:wght@200;400&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Josefin+Sans&family=Secular+One&display=swap');



html {
    scroll-behavior: smooth;
}

html,
body {
    height:
        color:
}

:root {}

#introduction h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 42px;
    text-align: center;
}

#introduction h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    text-align: center;
}

h2 {}

body {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 16px;
}

nav {
    float:
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    /* float: left; */
}

nav li {
    /* float: right; */
}

nav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;

}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #111;
}


nav.active {
    background-color: #04AA6D;
}



details {
    display: inline-grid;
    justify-content: space-evenly;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 30px;
    margin: 20px 20px;
    text-align: center;
}

.project-title {
    text-align: center;
}


summary {}

form {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

label {
    display: inline-block;
    width: 100px;
    flex-wrap: wrap;
}

footer {
    text-align: center;
}

section {}

@media only screen and (max-width: 600px) {}